[submodule "ros2ws/src/usbl_msgs"]
	path = ros2ws/src/usbl_msgs
	url = git@github.com:billmania/usbl_msgs.git
[submodule "ros2ws/src/delivery"]
	path = ros2ws/src/delivery
	url = git@github.com:billmania/delivery.git
[submodule "ros2ws/src/delivery_simulation"]
	path = ros2ws/src/delivery_simulation
	url = git@github.com:billmania/delivery_simulation.git
